* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#4d464c), to(#d4d3d4));
  background-image: linear-gradient(to right bottom, #4d464c, #d4d3d4);
  min-height: 100vh;
  font-family: "Exo", sans-serif;
  min-height: 100vh;
}

body .wrapper {
  width: 80%;
  margin: 0 auto;
}

body button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

body ul, body li {
  list-style: none;
}

body a {
  text-decoration: none;
}

body .total-salary {
  text-align: end;
  margin-right: 1rem;
}

body .title-container {
  text-align: center;
  text-transform: uppercase;
  color: antiquewhite;
}

body .container-app {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

body .container-app .form-data {
  text-align: center;
}

body .container-app input {
  border-radius: 5px;
  border: none;
  background-color: antiquewhite;
  -webkit-box-shadow: 2px 2px 7px gray;
          box-shadow: 2px 2px 7px gray;
  margin: 0.4rem;
  padding: 0.5rem;
}

body .container-app .input-main {
  width: 70%;
}

body .container-app .btn-submit, body .container-app .btn-submit-main {
  width: 2rem;
  height: 2rem;
  background-color: antiquewhite;
  border: none;
  border-radius: 50%;
  color: #575757;
  cursor: pointer;
}

body .content-container, body .main-container {
  width: 90%;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 2rem;
  font-size: 1.3rem;
  color: antiquewhite;
}

body .content-container .text-name, body .main-container .text-name,
body .content-container .text-slr,
body .main-container .text-slr {
  width: 50%;
  text-align: center;
  border-bottom: 1px solid antiquewhite;
  position: relative;
}

body .content-container .trash, body .main-container .trash {
  right: 2rem;
  font-size: 1.2rem;
  float: right;
  cursor: pointer;
  color: #b85252;
}

body .menu {
  color: antiquewhite;
  border: none;
}

body .side-bar {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: antiquewhite;
  opacity: 0.95;
  width: 40%;
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
  text-transform: uppercase;
}

body .side-bar .close-btn {
  margin: 1rem;
  color: #575757;
}

body .side-bar .side-list {
  margin-top: 1rem;
  line-height: 3;
}

body .side-bar .side-link {
  color: #575757;
}

body .show {
  -webkit-transform: translate(0);
          transform: translate(0);
  -webkit-transition: 1s;
  transition: 1s;
}

body .main-container {
  text-align: center;
  width: 80%;
}

body .main-container .role-name {
  margin: 0 auto 1rem;
  width: 100%;
  color: antiquewhite;
  border-bottom: 1px solid antiquewhite;
}

body .total {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}
/*# sourceMappingURL=style.css.map */